.login button {
    display: block;
    border: 1px solid #000;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
    cursor: pointer;
    transition: .3s;
    margin-top: 5px;
}

.login button:hover {
    background-color: #e9ff1a;
}